# Ejercicios de la librería Numpy

0. Importa la librería numpy como np

In [ ]:
import numpy as np

1. Crear un arreglo de 10 ceros

In [1]:
import numpy as np
arr = np.zeros(10)
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

2. Crear un arreglo de 10 unos

In [7]:
import numpy as np
arr=np.full(10,1)
print(np.ones(10))
print(arr)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[1 1 1 1 1 1 1 1 1 1]

3. Crear un arreglo de 10 cincos

In [8]:
import numpy as np
print(np.full(10,5))

[5 5 5 5 5 5 5 5 5 5]

4. Crear un arreglo con todos los numeros pares del 10 al 50

In [11]:
import numpy as np
print(np.arange(0,51,2))

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50]

5. Crear una matriz 3x3 con valores del 0 al 8

In [14]:
import numpy as np
arr=np.array([[0,1,2],[3,4,5],[6,7,8]])
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

6. Crear una matriz de identidad de 3x3

In [15]:
import numpy as np
print(np.identity(3))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

7. Utilizar numpy para geneara un numero aleatorio entre 0 y 1

In [24]:
import numpy as np
a=np.random.random(1)
print(a)

[0.25805356]

8. Utilizar numpy para generar un arreglo de 25 numeros aleatorioas con una distribucion normal

In [43]:
import numpy as np
arr=np.random.normal(25,1,25)
print(arr)

[24.43669684 25.22362091 25.29762619 23.63939064 24.25816958 24.67341038
 26.17924118 24.56172022 25.98997127 25.81875852 25.59189254 25.11613165
 25.34999958 25.10697279 26.69888687 24.34477084 25.58514182 25.36392965
 24.71463241 24.21883597 24.35283433 24.3682888  25.47881575 23.80850317
 25.04592944]

9. Crear la siguiente matriz

10. Crear un arreglo de 20 valores lineales entre 0 y 1

In [44]:
import numpy as np

arr=np.linspace(0,1)
print(arr)

[0.         0.02040816 0.04081633 0.06122449 0.08163265 0.10204082
 0.12244898 0.14285714 0.16326531 0.18367347 0.20408163 0.2244898
 0.24489796 0.26530612 0.28571429 0.30612245 0.32653061 0.34693878
 0.36734694 0.3877551  0.40816327 0.42857143 0.44897959 0.46938776
 0.48979592 0.51020408 0.53061224 0.55102041 0.57142857 0.59183673
 0.6122449  0.63265306 0.65306122 0.67346939 0.69387755 0.71428571
 0.73469388 0.75510204 0.7755102  0.79591837 0.81632653 0.83673469
 0.85714286 0.87755102 0.89795918 0.91836735 0.93877551 0.95918367
 0.97959184 1.        ]

### Seleccion e indices de Numpy
11. Se te daran varias matrices, se te pide replicar el resultado

In [45]:
import numpy as np
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

# escribe el codigo que permite reproducir el siguiente resultado
# se cuidadoso al momento de correr el codigo,
# ya que podrias borrar el resultado
array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [66]:
import numpy as np
mat1=np.arange(12,16).reshape(1,4)
mat2=np.arange(17,21).reshape(1,4)
mat3=np.arange(22,26).reshape(1,4)
matRes=np.concatenate([mat1,mat2,mat])
print(matRes)

[[12 13 14 15]
 [17 18 19 20]
 [12 13 14 15]]

# escribe el codigo que permite reproducir el siguiente resultado
# se cuidadoso al momento de correr el codigo,
# ya que podrias borrar el resultado
20

In [68]:
import numpy as np
mat1=np.arange(12,16).reshape(1,4)
mat2=np.arange(17,21).reshape(1,4)
mat3=np.arange(22,26).reshape(1,4)
matRes=np.concatenate([mat1,mat2,mat])

print(matRes[(matRes==20)])

[20]

# escribe el codigo que permite reproducir el siguiente resultado
# se cuidadoso al momento de correr el codigo,
# ya que podrias borrar el resultado
array([[ 2],
       [ 7],
       [12]])

In [92]:
import numpy as np

# crear matriz de 3 filas y 1 columna con los valores dados
matriz = np.array([[2], [7], [12]])

print(matriz)

[[ 2]
 [ 7]
 [12]]

# escribe el codigo que permite reproducir el siguiente resultado
# se cuidadoso al momento de correr el codigo,
# ya que podrias borrar el resultado
array([21, 22, 23, 24, 25])

In [97]:
import numpy as np
arr=np.arange(21,26).reshape(1,5)
print(arr)

[[21 22 23 24 25]]

# escribe el codigo que permite reproducir el siguiente resultado
# se cuidadoso al momento de correr el codigo,
# ya que podrias borrar el resultado
array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [99]:
import numpy as np
arr=np.arange(16,21).reshape(1,5)
arr2=np.arange(21,26).reshape(1,5)
arrR=np.concatenate([arr,arr2])
print(arrR)

[[16 17 18 19 20]
 [21 22 23 24 25]]

Luego continua con:
- Obten la suma de los valores de `mat`
- Obten la desviacion estandar de los valores de `mat`
- Obten la suma de las columnas de los valores de `mat`

In [108]:
import numpy as np
mat = np.arange(1,26).reshape(5,5)
sum=np.sum(mat)
print(sum)

desviacion=np.std(mat)
print(desviacion)

sumColum=np.sum(mat,axis=0)
print(sumColum)

325
7.211102550927978
[55 60 65 70 75]

# Ejercicios de la Librería Pandas

1. Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [7]:
import pandas as pd
import numpy as np
anioI=input("ingrese anio inicial")
anioF=input("Ingrese el año fin")

#creo dicts 
ventas={}
ventas2={}
for i in range(int(anioI),int(anioF)+1):
    ventas[i]=input("ingresa las ventas de este anio")
    ventas2[i]=int(ventas[i])*0.10+int(ventas[i])    
serieVentas=pd.Series(ventas)
serieVentas2=pd.Series(ventas2)
print("serie sin descuentos")
print(serieVentas)

print("serie Con descuentos")
print(serieVentas2)

serie sin descuentos

2012    10
2013    20
2014    30
dtype: object
serie Con descuentos
2012    11.0
2013    22.0
2014    33.0
dtype: float64

2. Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [23]:
import pandas as pd
notas={'Analisis':6,'Programacion':8,'Quimica':2}
def Notas(notas):
    #serie comun
    serieNota=pd.Series(notas)
    print(serieNota)
    
    #serie nota minima
    print("serie con la nota minaima")
    print(serieNota.min())
    #media
    print("serie con la media")
    print(serieNota.mean())
    
    #desviacion
    print("serie con la desviacion tipica")
    print(serieNota.std())
print(Notas(notas))

Analisis        6
Programacion    8
Quimica         2
dtype: int64
serie con la nota minaima
2
serie con la media
5.333333333333333
serie con la desviacion tipica
3.055050463303893
None

3. Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [12]:
import pandas as pd
notas={'Analisis':6,'Programacion':8,'Quimica':2}
def Notas(notas):
    #serie comun
    serieNota=pd.Series(notas)
    print(serieNota)
    
    #serie notas aprobados de menor a mayor
    print(serieNota[serieNota>=4].sort_values(ascending=False))
    
print(Notas(notas))

Analisis        6
Programacion    8
Quimica         2
dtype: int64
Programacion    8
Analisis        6
dtype: int64
None

4. Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

| Mes | Ventas | Gastos |
| --- | --- | --- |
| Enero | 30500 | 22000 |
| Febrero | 35600 | 23400 |
| Marzo | 28300 | 18100 |
| Abril | 33900 | 20700 |

In [14]:
import pandas as pd
datos={'mes':['Enero','Febrero','Marzo','Abril'],
        'ventas':[30500,35600,28300,33900],
        'gastos':[22000,23400,18100,20700]
        
        }

def data(datos):
    #creo el dataframe
    df=pd.DataFrame(datos)
    print(df)
data(datos)

       mes  ventas  gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

5. Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [18]:
import pandas as pd
datos={'mes':['Enero','Febrero','Marzo','Abril'],
        'ventas':[30500,35600,28300,33900],
        'gastos':[22000,23400,18100,20700]
        
        }

def data(datos):
    #creo el dataframe
    df=pd.DataFrame(datos)
    balance=df['ventas']-df['gastos']
    print(balance)
data(datos)

0     8500
1    12200
2    10200
3    13200
dtype: int64

6. El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [25]:
import pandas as pd
df=pd.read_csv('/home/juan-pablo/Escritorio/Sist inteligente/assets/cotizacion.csv',sep=';', decimal=',')
dataF=pd.DataFrame(df)
print(dataF.head)

<bound method NDFrame.head of           Nombre       Final      Máximo      Mínimo     Volumen   Efectivo
0        ACCIONA     95.9500     96.7500     94.4000      84.962    8166.11
1       ACERINOX   8668.0000   8672.0000   8468.0000      885.99    7633.81
2            ACS     37.2800     37.6600     37.2200     655.982   24517.29
3           AENA    167.1000    167.5000    166.1000     133.738   22336.10
4        AMADEUS     69.9600     70.6400     69.5600     640.476   44795.47
5    ARCELORMIT.  14152.0000  14318.0000     14.0800     702.841    9989.65
6    BA.SABADELL      1.0165   1033.0000      1.0165  12.358.512   12637.65
7   BA.SANTANDER      4.0200      4.0675      4.0100  36.129.692  145765.44
8         BANKIA   2249.0000   2262.0000   2224.0000   3.024.454    6803.54
9      BANKINTER      6.5600   6604.0000   6522.0000   1.375.976    9030.20
10          BBVA   5024.0000      5.0500   4969.0000  26.447.612  132560.15
11     CAIXABANK   2763.0000   2806.0000   2762.0000  13.031.097   36239.22
12       CELLNEX     30.1700     30.7000     30.1700     857.237   25965.29
13  CIE AUTOMOT.     23.4400     23.7400     23.4000      99.506    2343.09
14        ENAGAS     25.6000     25.6600     25.0700      842.54   21524.77
15          ENCE   3882.0000   3974.0000   3846.0000   2.099.698    8219.83
16        ENDESA     22.9500     23.0300     22.6200   1.236.799   28233.46
17     FERROVIAL     21.6100     21.7200     21.3800   2.065.931   44656.05
18  GRIFOLS CL.A     23.3000     23.6000     23.2700     719.503   16787.55
19           IAG      5.3000      5.4600   5292.0000   2.155.081   11561.95
20     IBERDROLA      8.4500      8.4500   8262.0000  15.637.958  131426.05
21       INDITEX     24.9300     25.1900     24.8700   2.600.144   65012.92
22       INDRA A      9.5600   9685.0000   9535.0000      392.06    3755.57
23  INM.COLONIAL   9915.0000   9915.0000   9745.0000     671.753    6640.38
24        MAPFRE   2654.0000   2654.0000      2.6200   3.045.972    8063.13
25      MEDIASET   6446.0000   6592.0000   6446.0000   2.647.557   17277.04
26  MELIA HOTELS      8.1400      8.1900      8.0200      480.21    3914.93
27        MERLIN     12.0800     12.0800     11.8300     777.543    9357.77
28       NATURGY     26.7000     26.7700     26.5300   2.100.737   55986.54
29        R.E.C.  19705.0000  19875.0000  19675.0000   1.246.171   24585.33
30        REPSOL  14515.0000  14605.0000     14.4600   5.046.648   73333.78
31  SIEMENS GAME     14.3300     14.3900  14155.0000   1.054.847   15084.56
32  TEC.REUNIDAS     23.0000     23.2000     22.7800       122.1    2807.19
33    TELEFONICA   7204.0000   7256.0000   7185.0000   9.913.249   71564.99
34      VISCOFAN     48.4600     49.1200     48.4600       67.71    3295.43>

7. El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

    1. Generar un DataFrame con los datos del fichero.
    2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
    3. Mostrar por pantalla los datos del pasajero con identificador 148.
    4. Mostrar por pantalla las filas pares del DataFrame.
    5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
    6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
    7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
    8. Eliminar del DataFrame los pasajeros con edad desconocida.
    9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
    10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
    11. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [79]:
import pandas as pd
df=pd.read_csv('/home/juan-pablo/Escritorio/Sist inteligente/assets/titanic.csv' )
#dataframe
dataF=pd.DataFrame(df)
print(dataF.head)
#Dimensiones
dimen=dataF.shape
print(dimen)
#tamaño
size=dataF.size
print(size)
#info
info=dataF.info()
print(info)

#primeras 10 filas
print(dataF.head(10))

#ultimas 10 filas
print(dataF.tail(10))

#pasajero con id 148
print('pasajero id 148')
print(dataF.loc[147])

#filas pares, el ::2 es para que salte de 2 en 2
print(dataF.iloc[::2])

#personas que iban en primera clase, alfabeticamente
primeraClase=dataF[dataF['Pclass']==1].sort_values(by='Name')

print(primeraClase)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>
(891, 12)
10692
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
pasajero id 148
PassengerId                                 148
Survived                                      0
Pclass                                        3
Name           Ford, Miss. Robina Maggie "Ruby"
Sex                                      female
Age                                         9.0
SibSp                                         2
Parch                                         2
Ticket                               W./C. 6608
Fare                                     34.375
Cabin                                       NaN
Embarked                                      S
Name: 147, dtype: object
     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]
     PassengerId  Survived  Pclass  \
730          731         1       1
305          306         1       1
297          298         0       1
498          499         0       1
460          461         1       1
..           ...       ...     ...
155          156         0       1
351          352         0       1
55            56         1       1
555          556         0       1
325          326         1       1

                                                Name     Sex    Age  SibSp  \
730                    Allen, Miss. Elisabeth Walton  female  29.00      0
305                   Allison, Master. Hudson Trevor    male   0.92      1
297                     Allison, Miss. Helen Loraine  female   2.00      1
498  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
460                              Anderson, Mr. Harry    male  48.00      0
..                                               ...     ...    ...    ...
155                      Williams, Mr. Charles Duane    male  51.00      0
351           Williams-Lambert, Mr. Fletcher Fellows    male    NaN      0
55                                 Woolner, Mr. Hugh    male    NaN      0
555                               Wright, Mr. George    male  62.00      0
325                         Young, Miss. Marie Grice  female  36.00      0

     Parch    Ticket      Fare    Cabin Embarked
730      0     24160  211.3375       B5        S
305      2    113781  151.5500  C22 C26        S
297      2    113781  151.5500  C22 C26        S
498      2    113781  151.5500  C22 C26        S
460      0     19952   26.5500      E12        S
..     ...       ...       ...      ...      ...
155      1  PC 17597   61.3792      NaN        C
351      0    113510   35.0000     C128        S
55       0     19947   35.5000      C52        S
555      0    113807   26.5500      NaN        S
325      0  PC 17760  135.6333      C32        C

[216 rows x 12 columns]

8. Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

    1. Generar un DataFrame con los datos de los cuatro ficheros.
    2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.
    3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.
    4. Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).
    5. Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.
    6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
    7. Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.
    8. Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.
    9. Mostrar un resumen descriptivo para cada contaminante por distritos.
    10. Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estación indicada.
    11. Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.
    12. Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

# Ejercicios de la librería Matplotlib

1. Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla un diagrama de líneas con la evolución de las ventas.

2. Escribir una función que reciba una diccionario con las notas de las asignaturas de un curso y una cadena con el nombre de un color y devuelva un diagrama de barras de las notas en el color dado.

3. Escribir una función que reciba una serie de Pandas con las notas de los alumnos de un curso y devuelva un diagrama de cajas con las notas. El diagrama debe tener el título “Distribución de notas”.

4. Escribir una función que reciba una serie de Pandas con el número de ventas de un producto durante los meses de un trimestre y un título y cree un diagrama de sectores con las ventas en formato png con el titulo dado. El diagrama debe guardarse en un fichero con formato png y el título dado.

5. Escribir una función que reciba una serie de Pandas con el número de ventas de un producto por años y una cadena con el tipo de gráfico a generar (lineas, barras, sectores, areas) y devuelva un diagrama del tipo indicado con la evolución de las ventas por años y con el título “Evolución del número de ventas”.

6. Escribir una función que reciba un dataframe de Pandas con los ingresos y gastos de una empresa por meses y devuelva un diagrama de líneas con dos líneas, una para los ingresos y otra para los gastos. El diagrama debe tener una leyenda identificando la línea de los ingresos y la de los gastos, un título con el nombre “Evolución de ingresos y gastos” y el eje y debe empezar en 0.

7. El fichero bancos.csv contiene las cotizaciones de los principales bancos de España con : **Empresa** (nombre de la empresa), **Apertura** (precio de la acción a la apertura de bolsa), **Máximo** (precio máximo de la acción durante la jornada), **Mínimo** (precio mínimo de la acción durante la jornada), **Cierre** (precio de la acción al cierre de bolsa), **Volumen** (volumen al cierre de bolsa). Construir una función reciba el fichero bancos.csv y cree un diagrama de líneas con las series temporales de las cotizaciones de cierre de cada banco.

8. El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Crear un dataframe con Pandas y a partir de él generar los siguientes diagramas.
    1. Diagrama de sectores con los fallecidos y supervivientes.
    2. Histograma con las edades.
    3. Diagrama de barras con el número de personas en cada clase.
    4. Diagrama de barras con el número de personas fallecidas y supervivientes en cada clase.
    5. Diagrama de barras con el número de personas fallecidas y supervivientes acumuladas en cada clase.